%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-

%% Dependencies ================================================================
{deps, []}.

%% Compiler Options ============================================================
{erl_opts,
  [{platform_define, "^[0-9]+", namespaced_types}, warnings_as_errors]}.

%% EUnit =======================================================================
{eunit_opts, [verbose,
  {report, {eunit_surefire, [{dir, "."}]}}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

%% Xref ========================================================================
{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used,
              exports_not_used, deprecated_function_calls, deprecated_functions
  ]}.